<launch>
    <node pkg="yolo" type="tf_broadcaster" name="tf_broadcaster"
        args="0.225 1.13 1.44 -143 3 160 map realsense_camera 10"/> 
    <node pkg="yolo" type="six_marker" name="six_marker"/>
    <node pkg="yolo" type="sixregion_map" name="sixregion_map"/>
    <!--rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yolo)/rviz/Marker.rviz" />
</launch>
